@font-face {
    font-family: 'Aalto Sans Pro';
    src:url(/fuentes/AaltoSansPro-Regular.ttf)format('opentype');
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/* faq-section .mb-0 > a {
    display: block;
    position: relative;
  }
  
  .faq-section .mb-0 > a:after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 0;
    font-weight: 600;
  }
  
  .faq-section .mb-0 > a[aria-expanded="true"]:after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
  }
  

#accordion .card-header button[aria-expanded="true"]:before {
  font-family: 'Material Icons';
  content: "expand_less";
  vertical-align: middle;  
}
#accordion .card-header button[aria-expanded="false"]:before {
  font-family: 'Material Icons';
  content: "expand_more";
  vertical-align: middle;
}
.btn-link {
    text-decoration: none !important;
} */