@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}

.panel-title {
  font-size: 14px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

/* ----- v CAN BE DELETED v ----- */
/* body {
background-color: #26a69a;
} */

.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.demo-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 15px;
background-color: #212121;
text-align: center;
}

.demo-footer > a {
text-decoration: none;
font-weight: bold;
font-size: 14px;
color: #fff;
}

/* Content Container */
.contentContainer {
  width: 98%;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom:30px;
  overflow:scroll;
}
/* Container for slider. 
Width set to 100% so player will fill it's parent container  */

.sliderContainer {
  width: 100%;
}
/* Slide/Video Caption */
.slideCaption {
   position: relative;
  width: 100%;
  height: auto;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-top:10px;
  padding-bottom:5px;
  opacity:0.85;
}
/* Video Container DIV */
.video-container div {
  background: white;
}
/* Video Thumbnail DIV */
.video-thumbnails div {
  height: 65px;
  background: white;
  text-align: center;
  /* Background Cover to fill DIV */
  background-size: cover;
}
/* **************
************* */

.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000;
}
.videoWrapper43 {
  padding-top: 70%;
}
.videoWrapper169 {
  padding-top: 56%;
}
.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}
.videoIframe {
  position: absolute;
  top: 0;
}
/* *********
  SVG PLAY BUTTON
********** */

.stroke-dotted {
  stroke-dasharray: 4, 5;
  stroke-width: 1px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
  -webkit-transition: opacity 1s ease, stroke-width 1s ease;
  transition: opacity 1s ease, stroke-width 1s ease;
}
.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 4px;
  -webkit-transition: stroke-dashoffset 1s ease, opacity 1s ease;
  transition: stroke-dashoffset 1s ease, opacity 1s ease;
  opacity: 0;
}
.vid-icon {
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
.play-vid:hover .stroke-dotted {
  stroke-width: 4px;
  opacity: 1;
}
.play-vid:hover .stroke-solid {
  opacity: 1;
  stroke-dashoffset: 300;
}
.play-vid:hover .icon {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 1;
}
.play-vid {
  cursor: pointer;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.85;
  width: 110px;
  height: 110px;
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Default Slick Slide */
.video-thumbnails .slick-slide {
  /* Set Opacity so focus is on the centered slide.
	   Can apply CSS filters too. */
  opacity: 0.65;
  /* Set Transition ALL for smooth window resizing. */
  transition: all 0.2s ease-in-out;
  /* Scale down images not centered. */
  transform: scale(0.8);
  
  
  outline: none;
  
  /* Grab Hand Cursor */
  
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.slick-slide {color:white;}
.video-thumbnails .slick-slide:hover {
  /* Set Opacity so focus is on the centered slide.
	   Can apply CSS filters too. */
  opacity: 1;
  transform: scale(0.9);
}
.slick-slide.slick-center {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}

/* Hide carousel until webpage is loaded to prevent FOUC - Flash Of Unstyled Content -

Class is removed once page has loaded using jQuery  

$(function() {
    $('.no-fouc').removeClass('no-fouc');
    console.log( "ready!" );
});

*/

.no-fouc {visibility: hidden}
pre {overflow:auto;}

#bn-direccion {
  color: #0a0a0a;
  font-size: 1.3em;
  font-style: normal;
  padding-right: 20px;
  float: left;
  position: relative;
  
}

#ubicacion{
  color: #5f5f5f;
  font-size: 0.5em;
  font-style: normal;
  position: relative;
}


html{
  scroll-behavior: smooth;
}


body{
  font-family: 'Aalto Sans Pro',sans-serif;
  font-weight: normal;
  font-style: normal;
  background: #ffffff;
  font-size: 1em;
}
.bg-light{
  background: #fff!important;
}
.navbar-brand{
  color: #38404A;
  font-size: 25px;
  color: red;
}

.subtitle {
/*   font-family: 'Aalto Sans Pro',sans-serif; */
  font-weight: 600;
  font-style: normal;
  color:red !important;
}


.relevante{ /*CSSS por clases*/
  color: red;
}

.negro{ /*CSSS por clases*/
  color: black !important;
}


/************************************************/



.head__custom-nav .navbar-brand img {
  width: 264px;
  height: 54px; }
.head__custom-nav .navbar-brand span {
  font-weight: 700;
  font-size: 22px;
  margin-left: 10px; }
.head__custom-nav button {
  padding: 0; }
  .head__custom-nav button span img {
    width: 45px; }
.head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 400;
  padding: 8px 15px;
  white-space: nowrap;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
    color: lightcoral; }

.custom-section {
  width: inherit;
  padding: 40px 0; }
  @media screen and (max-width: 991.98px) {
    .custom-section {
      flex-direction: column-reverse; } }
  .custom-section .col-lg-4 {
    margin-top: 100px; }
    .custom-section .col-lg-4 h2 {
      font-weight: 700;
      font-size: 63px;
      color: #000;
      margin-bottom: 0;
      line-height: 1;
      white-space: nowrap; }
    .custom-section .col-lg-4 h3 {
      font-weight: 300;
      font-size: 64px;
      color: #000;
      line-height: 1; }
    .custom-section .col-lg-4 p {
      color: #000;
      font-size: 14px;
      margin-top: 30px; }
    .custom-section .col-lg-4 a {
      display: inline-block;
      padding: 8px 22px;
      color: #fff;
      background-color: #1EA5F7;
      border: 1px solid transparent;
      margin-top: 60px;
      text-decoration: none;
      transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .custom-section .col-lg-4 a:hover {
        color: #1EA5F7;
        background-color: #fff;
        border: 1px solid #1EA5F7; }
  .custom-section .col-lg-8 img {
    width: 90%;
    position: absolute;
    top: -14rem;
    right: -11%; }
    @media screen and (max-width: 990.98px) {
      .custom-section .col-lg-8 img {
        width: 90%;
        position: absolute;
        top: 0;
        right: 0; } }
  .custom-section .col-lg-8 .animate-img img {
    width: 108px;
    position: absolute;
    top: -13.5rem;
    right: 2.9rem; }

/*# sourceMappingURL=style.css.map */

/* Footer */

  footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 1px;
}

.box__footer span{
  display: flex;
  padding: 0.3px;
  margin: 0.3px;
  margin-top: 12px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

*{
  /* Eliminar predeterminados */
  margin: 0;
  padding: 0;
}

/*.title {
   Estilos de título h1 
  text-align: center;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}*/

.pdfview {
  /* Centrado */
  margin: auto;
  display: block;
  /* Tamaño */
  width: 820px;
  height: 110vh;
  /* Mejorar aspecto */
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255,), 0 6px 20px 0 rgba(255, 255, 255);
}

.efecto {
  transition: all .5s ease;
  color: #001F3F;
  
  border: 2px solid rgba(187, 191, 207, 0.4);
  font-family:'Aalto Sans Pro', sans-serif;
  text-align: center;
  line-height: 1;
  font-size: 24px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: #FFFFFF;
  width: 285px;
  height: 52px;
  left: 130.5px;
  top: 1765px;
  
}
.efecto:hover {
  /* color: #001F3F; */
  color: #E11E00;
  background-color: #FFF3F3;
}


